{% extends "../_layout.html" %}
{% block title %}频道 - 说说{% end %}

{% block head %}
<link href="{{ static_url('css/channel.css') }}" rel="stylesheet">
{% end %}

{% block scripts %}
  <script src="{{ static_url('js/chat.js') }}"></script>
{% end %}

{% block content %}
<div class="row">
<div class="col-md-3">
  <ul class="list-group">
    {% for channel in channels %}
    <a href="/channel/chat?cname={{ channel }}" class="list-group-item">
      <span id="{{ channel }}" class="badge">{{ channels[channel] }}</span>
      {{ channel }}
    </a>
    {% end %}
  </ul>
</div>
<div class="col-md-9">
  <textarea id="display" class="form-control" rows="15" readonly="readonly">
  {% for message in messages %}{{ message }}
  {% end %}
  </textarea>
  <form method="POST" class="form-chat" role="form">
    {% module xsrf_form_html() %}
    <div class="form-group">
      <textarea id="input" name="input" class="form-control" rows="4"></textarea>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("发送") }}</button>
  </form>
</div>
</div>
{% end %}